@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Space Grotesk", sans-serif;
    color: hsl(278, 68%, 11%);
  }

  input {
    cursor: pointer;
  }
  input::-webkit-inner-spin-button {
    display: none;
  }
}

@layer components {
  .correctInput {
    @apply border border-grayishViolet rounded-md focus:outline-none focus:border-mediumViolet p-2 mt-1 indent-2 text-darkGrayishViolet w-full;
  }

  .invalidInput {
    @apply border border-warningRed rounded-md focus:outline-none focus:border-warningRed;
  }

  .cardBack {
    @apply flex justify-end text-white tracking-widest bg-cover bg-no-repeat rounded-md shadow-2xl w-[19rem] h-[10rem] md:scale-110 lg:w-[23rem] lg:h-[13rem] relative bottom-24 left-2 md:top-44 md:left-24 lg:left-36;
  }

  .cardFront {
    @apply flex flex-col justify-between text-white rounded-md tracking-widest bg-cover bg-no-repeat p-5 lg:p-7 w-[18rem] h-[10rem] md:scale-110 lg:w-[23rem] lg:h-[13rem] shadow-2xl relative top-44 md:top-24 right-3 z-10 md:left-12 lg:left-24;
  }
}
